<form (submit)="updatePassword()" novalidate [formGroup]="frmPassword">
    <h5>Change Password</h5>
    <div class="form-group">
        <label>Old Password</label>
        <input type="password" class="form-control" formControlName="oldPassword" placeholder="Enter Old Password">
        <validation-message [control]="frmPassword.controls.oldPassword" [message]="'Old Password'" [formSubmitted]="isFormSubmitted"></validation-message>
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" placeholder="Enter New Password">
        <validation-message [control]="frmPassword.controls.newPassword" [message]="'New Password'" [formSubmitted]="isFormSubmitted"></validation-message>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Enter Confirm Password">
        <validation-message [control]="frmPassword.controls.confirmPassword" [message]="'Confirm Password'" [formSubmitted]="isFormSubmitted"></validation-message>
    </div>
    <p class="text-danger" *ngIf="errorMessage">{{errorMessage}}</p>
    <p class="text-success" *ngIf="successMessage">{{successMessage}}</p>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>